<div class='sr-interest-bar'>
  <div class='bubble'>
    {{#if snoocore.isLoggedIn}}<p class='caption'>
      ready for something new?
      <span class='subscribe'>subscribe</span>
      to some new subreddits.
    </p>{{/if}}
    <div class='query-box'>
      {{input class='query' value=query placeholder=placeholder escape-press='cancel'}}
      <div class='throbber'></div>
    </div>
    {{#unless hideResults}}
    {{#if results.length}}
      <ul class='results' style='display: block;'>
        <li>try these:</li>
        {{#each result in results}}
          <li>{{#link-to 'subreddit.index' result.name}}/r/{{result.name}}{{/link-to}}</li>
        {{/each}}
        {{!--<li>
          <a {{action 'serendipity'}} class='random' style='cursor: pointer;' title='serendipity'>serendipity</a>
        </li>--}}
      </ul>
    {{/if}}
    {{/unless}}
  </div>
</div>
