<div class='sr-interest-bar'>
  <div class="bubble"><p class="caption">
  </p><p class="error-caption"></p><div class="query-box">{{input class='query' value=query placeholder=placeholder escape-press='cancel'}}
  <div class="throbber"></div></div></div>
</div>
