{{#if isLoading}}
  <h2 class='loading working'><div class='throbber'></div> Loading Removed Comment...</h2>
{{else}}
  {{#if item}}
    {{reddit-comment content=item}}
  {{else}}
    <p>This comment is no longer available.</p>
  {{/if}}
{{/if}}
