.thumbnail img {
  max-width: 70px;
  max-height: 70px;
}

#header {background-color: salmon;}

.expando img {
  max-width: 100%;
  max-height: 720px;
}


.fixed-gradio,
.fixed-expando {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9001;
}
.fixed-gradio .profs-gradio{
  display: none;
}
.fixed-gradio.autoplay .profs-gradio {
  display: block;
}

.fixed-gradio {
  color: white;
  background-color: salmon;
}
.fixed-gradio .gradio-controls {
  text-align: right;
}


.fixed-expando .controls {
  text-align: right;
}

#header-img.default-header {
  background-position: left bottom;
  margin-bottom: 0px;
  background-image: url("http://i.imgur.com/NQfOq89.png") !important;
  text-align: center;
  /*text-indent: 0px;*/
  line-height: 40px;
  font-size: 12pt;
}

.sr-interest-bar {
  background-image: none;
}

.sr-interest-bar .bubble {margin-left: 2em;}

.side .sr-interest-bar .bubble {
  margin-left: 10px;
  margin-right: 0px;
}

.side .sr-interest-bar {
  border-width: 0px;
  background-color: transparent;
  position: absolute;
  top: -4px;
  /*right: 0px;*/
  left: 25px;
  width: 100px;
  z-index: 9000;
  border-radius: 10px;
}
#header-bottom-right {
  display: none;
}
.redditname {
  margin-left: 1em;
}
.side .sr-interest-bar .bubble {}
.side .sr-interest-bar input {
  font-size: 12px;
}

#sr-header-area {display: none;}

.thumbnail.self {
  background-image: none;
}

.link.thing .rank {
  width: 1.5em;
}
.link.thing .midcol {
  width: 3.5em;
}

.profs-gradio .link.thing .rank {display: none;}
.profs-gradio .link.thing .midcol {width: auto;}

.side .profs-gradio .link.thing {display: none;}
