.thumbnail img {
  max-width: 70px;
  max-height: 70px;
}

#header {background-color: salmon !important; height: 40px !important;}

.expando img {
  max-width: 100%;
  max-height: 720px;
}


.fixed-gradio,
.fixed-expando {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9001;
}
.fixed-gradio .profs-gradio{
  display: none;
}
.fixed-gradio.autoplay .profs-gradio {
  display: block;
}

.fixed-gradio {
  color: white;
  background-color: salmon;
}
.fixed-gradio .gradio-controls {
  text-align: right;
}


.fixed-expando .controls {
  text-align: right;
}

#header-img.default-header {
  background-position: left bottom;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  bottom: 0px !important;
  left: 0px !important;
  background-image: url("http://i.imgur.com/NQfOq89.png") !important;
  text-align: center;
  /*text-indent: 0px;*/
  line-height: 40px;
  font-size: 12pt;
  width: 105px !important;
  height: 40px !important;
}

.sr-interest-bar {
  background-image: none;
}

.sr-interest-bar .bubble {margin-left: 2em;}

.side .sr-interest-bar .bubble {
  margin-left: 10px;
  margin-right: 0px;
}

#header .interestbar input {
  border-width: 0px;
  position: absolute;
  top: 25px;
  left: 40px;
  padding: 3px 3px 3px 3px;
  /*right: 0px;*/
  width: 80px;
  z-index: 9000;
}
#header-bottom-right {
}
.redditname {
  margin-left: 1em;
}
#header .sr-interest-bar .bubble {}
#header .sr-interest-bar input {
  font-size: 12px;
}

#header .sr-interest-bar input {
  margin-left: 3em;
  margin-top: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em !important;
  background-color: black;
  border-radius: 0.5em;
  width: 7em;
}

#sr-header-area {display: none;}

.thumbnail.self {
  background-image: none;
}

.link.thing .rank {
  width: 1.5em;
}
.link.thing .midcol {
  width: 3.5em;
}

.profs-gradio .link.thing .rank {display: none;}
.profs-gradio .link.thing .midcol {width: auto;}

.side {
  z-index: 8000;
}

.usertext textarea {
  color: white;
}

.growl-manager {
  position: fixed;
  left: 0px;
  bottom: -30px;
  top: auto;
  right: auto;
  margin-left: 0px;
}

.snew-chat {
  position: relative;
  min-height: 250px;
}

.snew-chat .messages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 13px;
  overflow: scroll;
  padding-bottom: 40px;
}

.snew-chat input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
}

.snew-chat button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}
