{{#unless model.others.isLoading}}
  {{!--
  <h1>{{model.others.length}} Others{{#if model.removed.length}} {{model.removed.length}} [removed]{{/if}}</h1>
  --}}
  {{#each link in model.others}}
  <div id='siteTable' class='sitetable linklisting'>
    {{reddit-link content=link}}
  </div>
  {{/each}}
{{else}}
  <div class='spacer'>
    <h2 class='loading working'><div class='throbber'></div> Loading Cross Posts...</h2>
  </div>
{{/unless}}
