<h1>
  {{#link-to 'nsfa'}}
    <span class='nsfw-stamp stamp rounded'>
      <acronym title="Adult content: Not Safe For Work">NSFW</acronym>
    </span>
    stream
  {{/link-to}}
</h1>
{{stream-listing}}
