<div class='md'>
  <h1>Privacy Policy</h1>
  <h4>
  This is separate from
  <a href='https://www.reddit.com/help/privacypolicy' class='dontintercept'>reddit.com's Privacy Policy</a>
  </h4>
  <p>This app runs entirely in your browser and never phones home.</p>
  <p>There is no home to phone, this app is hosted on github pages.</p>
  <p>No data gets stored or sent back to non-reddit servers.</p>
  <p>You can verify this using your browser's network inspector.</p>
</div>
