<div class='spacer'>
  <style>.ember-app >.content .link .rank, .rank-spacer { width: 3.3ex } .ember-app >.content .link .midcol, .midcol-spacer { width: 5.1ex }</style>
  {{reddit-listing content=model classNames="linklisting"}}
</div>
